.main{
  width:1170px;
  margin:20px auto;
}

.nav1{
  max-width:1170px;
  list-style-type: none;
  display:flex;
  justify-content: left;
}
.nav2{
  max-width: 1170px;
  display:flex;
  list-style-type: none;
  justify-content: space-between;
}
.ActiveLink{
  color:red;
}


 .image:hover{
  box-shadow: 10px;
 }

.item{
  max-width: 1170px;
  display:flex;
  justify-content: left;
  margin-top: 30px;
}
.description{
  margin-left: 20px;
}

.products-list{
  max-width: 1170px;
  display:flex;
  justify-content: space-around;
}

link:hover{
  background:rgb(33, 31, 31);
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  margin:30px auto 0;
  width:300px;
}
